body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    font-family: sans-serif;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 24px;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.headerlinks {
    display: flex;
    align-items: center;
}

.headerlinks a {
    text-decoration: none;
    color: lightgray;
    font-size: 16px;
    margin: 8px;
}

.uppersection {
    display: flex;
    width: 100%;
    padding: 50px;
    justify-content: center;
    gap: 25px;

}

.upperleft {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    gap: 15px;
}

.upperlefttitle {
    font-size: 36px;
    font-weight: 600;
}

#upperbutton {
    width: 150px;
    padding: 10px;
    background-color: #3882f5;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}

.uppercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
    padding: 100px;
    background-color: white;
    padding-bottom: 50px;
}

.uppercontenttitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.contenttiles {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    color: black;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.tile img {
    border-radius: 15px;
}

.tiletext {
    text-align: center;
    color: gray;
}

.quotesection {
    background-color: #E5E7EB;
    align-items: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.quote {
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
    font-size: 36px;
    width: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    word-break: normal;
    word-wrap: normal;
}

.quoteauthor {
    color: #1F2937;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
}

.lowersection {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.lowercontent {
    background-color: #3882f5;
    width: 900px;
    padding: 50px 100px;
    margin: 50px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}

.bottombutton {
    background-color: #3882f5;
    color: white;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 30px;
    border-style: solid;
    border-color: white;
}

.lowertexttitle {
    font-size: 24px;
    margin-bottom: 6px;
}

.lowertext {
    font-weight: 100;
}

.footer {
    padding: 30px;
}